/*
Colors used:

*/

* {
  box-sizing: border-box;
}
body {
  background-color: #fcf9f2;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}
footer {
  background: #fff1c9;
  padding: 8px 0;
}
.copyright {
  font-size: 50%;
  align-content: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  line-height: 1.4;
}
h1 {
  font-size: 1.8em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
}
h2.altblue {
  background-color: #F9FBFE;
  margin-bottom: 0;
  padding: 10px 0;
}
h3 {
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 0;
}
h4 {
  font-size: 1em;
  font-weight: 300;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: .8em;
  font-weight: 100;
}


.toolshead {
  font-size: .7em;
  margin-left: 70px;
}
.sidebar {
  font-size: .7em;
  margin-left: 60px;
}
img {
  width: 100%;
  border-radius: 6px;
}
.resetsize {
  width: auto;
}
.clear {
  clear: both;
  display: inline-block;
}
.clear::before {
  content:'';
  display: block;
  width: 1px;
  clear: both;
}
.center {
  text-align: center;
}
a {
  color: #f89927;
  text-decoration: none; /* No underlining */
}

a:hover {
  color: #f89927;
  font-weight: 300;
}
a:active { /* selected link */
  color: #F0C036;
  font-weight: 500;
}
a:hover,
a:focus {
  color: #f89927;
  text-decoration: none; /* No underlining */
}
nav > ul > li > a:hover {
  color: #F0C036;
  text-decoration: none; /* No underlining */
}
nav > ul > li > a:active { /* selected link */
  color: #F0C036;
  text-decoration: none; /* No underlining */
}

.button-container {
  width: 100%;
  max-width: 960px;
  margin: 0px;
  margin-top: 50px;
  padding: 10px 0px;
  border-radius: 8px;
  background-color: white;
}
.button {
  display: block;
  width: 100%;
  height: 80px;
  padding: 30px 30px;
  margin: 30px 30px;
  margin-left: 0px;
  color: #464B56;
  background-color: fff4d9;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #E3E7EC;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.button:hover {
  border: 1px transparent;
  cursor: pointer;
  background-color: #fff1c9;
  -webkit-box-shadow: 0px 15px 30px 7px rgba(227, 231, 236, 1);
  -moz-box-shadow: 0px 15px 30px 7px rgba(227, 231, 236, 1);
  box-shadow: 0px 15px 30px 7px rgba(227, 231, 236, 1);
}

/* footer styles */
.social a {
  display: inline-block;
  width: 50px;
  padding-top: 20px;
  padding-right: 10px
}

/* Layout styling */
.container {
  padding: 0 15px;
}
.about-photo {
  max-width:200px;
  display: block;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.parent {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 10px;
grid-row-gap: 10px;
}
#work .row {
  padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
}
#hero h1 {
  text-align: center; /* Centers text */
}
.user-profile {
  max-width: 150px;
}
.logo {
  max-width: 150px;
}

/* header */
header {
  background: linear-gradient(to bottom, #000, #fcf9f2);
  padding: 10px 0 8px;
  position: fixed;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(25, 25, 25, 0.05);
  -moz-box-shadow:    0px 5px 5px 0px rgba(25, 25, 25, 0.05);
  box-shadow:         0px 5px 5px 0px rgba(25, 25, 25, 0.05);
  width: 100%;
  z-index: 1;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.period {
  font-size: 150%;
  color: orange;
}
.navtoggle li .icon {
  position: absolute;
  padding-right: 0;
  right: 0;
  top: 2px;
  font-size: 20px;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}

nav > ul > li > a {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 300;
  color: #4a4a4a;
}
#hero {
  background-color: #ffffff;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
  text-align: left;
}
#hero span {
  display: block;
}
main {
  padding-top: 44px;
}
.hero-text {
  background: url('../img/welcome/pinkshirt-coverswirl.png') no-repeat top right;
  background-size: 100%;
  padding: 30px 0px;
  min-height: 600px;
}
.hero-text-inside {
  max-width: 500px;
}

/*Projects Styles
================================= */
.animation-border {
  margin: 0 auto;
  display: block;
  border: 0;
}
*, *:after, *:before {
	box-sizing: border-box;
}
.container
  height: 100vh
  width: 100vw
  max-height: 800px
  max-width: 1280px
  min-height: 600px
  min-width: 1000px
  display: flex
  justify-content: space-around
  align-items: center
  margin: 0 auto

.border
  height: 369px
  width: 290px
  background: transparent
  border-radius: 10px
  transition: border 1s
  position: relative

  &:hover
    border: 1px solid white

.card
  height: 379px
  width: 300px
  background: grey
  border-radius: 10px
  transition: background 0.8s
  overflow: hidden
  background: black
  box-shadow: 0 70px 63px -60px #000000
  display: flex
  justify-content: center
  align-items: center
  position: relative

.card0
  background: url('https://i.pinimg.com/736x/8f/a0/51/8fa051251f5ac2d0b756027089fbffde--terry-o-neill-al-pacino.jpg') center center no-repeat
  background-size: 300px

  &:hover
    background: url('https://i.pinimg.com/736x/8f/a0/51/8fa051251f5ac2d0b756027089fbffde--terry-o-neill-al-pacino.jpg') left center no-repeat
    background-size: 600px

    h2
      opacity: 1

    .fa
      opacity: 1

.card1
  background: url('https://i.pinimg.com/originals/28/d2/e6/28d2e684e7859a0dd17fbd0cea00f8a9.jpg') center center no-repeat
  background-size: 300px

  &:hover
    background: url('https://i.pinimg.com/originals/28/d2/e6/28d2e684e7859a0dd17fbd0cea00f8a9.jpg') left center no-repeat
    background-size: 600px

    h2
      opacity: 1

    .fa
      opacity: 1

.card2
  background: url('https://i.pinimg.com/originals/ee/85/08/ee850842e68cfcf6e3943c048f45c6d1.jpg') center center no-repeat
  background-size: 300px

  &:hover
    background: url('https://i.pinimg.com/originals/ee/85/08/ee850842e68cfcf6e3943c048f45c6d1.jpg') left center no-repeat
    background-size: 600px

    h2
      opacity: 1

    .fa
      opacity: 1

h2
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  color: white
  margin: 20px
  opacity: 0
  transition: opacity 1s

.fa
  opacity: 0
  transition: opacity 1s

.icons
  position: absolute
  fill: #fff
  color: #fff
  height: 130px
  top: 226px
  width: 50px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around
/* ==============================
Small devices (640px and smaller)
================================= */
@media only screen and (max-width: 640px) {
.col-sm-4 {
    width: 33.33%;
    }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 50px 0 13px;
    font-size: 18px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 0px;
  }
  nav > ul {
  margin: 1em 0;
}
  nav > ul > li {
    display: inline-block;
  }
  main {
    padding-top: 120px;
  }
.col-md-3 {
      width: 25%;
      }
.col-md-4 {
    width: 33.33%;
    }
.col-md-5 {
    width: 41.66%;
  }
.col-md-6 {
    width: 50%;
    }
.col-md-7 {
    width: 58.33%;
}
.logo {
  max-width: 250px;
}
.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
body {
    font-size: 18px; /* Sets the font size to 18px */
}
#about-page h3 { margin-top: 0;
}
[class*="col-"] {
  float: left;
  padding: 10px 30px 10px 0px;
}
.row-reverse [class*="col-"] {
    float: right;
    }
.parent {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 15px;
grid-row-gap: 15px;
}
}
/* ==END Medium*/

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
.col-lg-4 {
    width: 33.33%;
    }
.col-lg-8 {
    width: 66.66%;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
body {
    font-size: 20px; /* Sets the font size to 16px */
}

.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
/*animation*/
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation-duration: 3s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 40s cloud-move-reverse infinite alternate linear;
}
