/*
Colors used:
Primary Color (Blue): #00529F;
(Light Blue): #88B9E6;
Secondary Color (Green): #96C85A;
(Dark Green): #6D9B40;
Tertiary Color [Gold]: #F0C036;
*/

* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: 'Roboto Slab', serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.0em;
  font-weight: 700;
}

h2 {
  font-size: 1.6em;
  font-weight: 500;
}

h3 {
  font-size: 1.2em;
  font-weight: 500;
}
h4 {
  font-size: 1em;
  font-weight: 300;
}
img {
  width: 100%;
}
a {
  color: #88B9E6;
  text-decoration: none; /* No underlining */
}


a:hover {
  color: #F0C036;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #F0C036;
}
a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}
nav > ul > li > a:hover {
  color: #F0C036;
  text-decoration: underline; /* Underlining when hovering over a link */
}
nav > ul > li > a:active { /* selected link */
  color: #F0C036;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #0c0e30;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 12px;
  border-radius: 8px;
  border-bottom: 2px solid #88B9E6; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.6; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #88B9E6;
  border: 1px solid #88B9E6;
}
.button.contact:hover {
  opacity: 0.6; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
/* footer styles */
.social a {
  display: inline-block;
  width: 50px;
}
/* Layout styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }
#hero h1 {
  text-align: center; /* Centers text */
}

.logo {
  max-width: 250px;
}
/* header */
header {
  background-color: #fbe198;
  text-align: center;
  padding: 20px 0px;
  position: fixed;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.25);
  box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.25);
  width: 100%;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: #4a4a4a;
}
#hero {
  background-color: #fbe198;
  padding: 5px 0;
  display: inline-block;
  width: 100%;
  text-align: left;
}
#hero span {
  display: block;
}
main {
  padding-top: 135px;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
    font-size: 18px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 0px;
  }
  main {
    padding-top: 98px;
  }
  .col-md-6 {
  width: 50%;
}
body {
    font-size: 18px; /* Sets the font size to 16px */
}
#about-page h3 { margin-top: 0;
}

}/* ==END Medium*/

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-5 {
    width: 41.66%;
  }
}
  .col-lg-7 {
    width: 58.33%;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
body {
    font-size: 20px; /* Sets the font size to 16px */
}
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
[class*="col-"] {
  float: left;
  padding: 10px 30px 10px 0px;
}
